- head_template =  File.read('./_includes/head.html.haml')
- header_template =  File.read('./_includes/header.html.haml')
- footer_template =  File.read('./_includes/footer.html.haml')
- contact_form_template = File.read('./_includes/contact-form.html.haml')

<!DOCTYPE html>
%html
  %head
    = Haml::Engine.new(head_template).render
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{$base_url}/stylesheets/ionicons.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{$base_url}/stylesheets/products.css"}
  %body.app
    = Haml::Engine.new(header_template).render
    .first-view
      .wrap
        .container.row
          .columns.medium-6
            %h5 根据您的游玩地选择
            .scenic-radios
              .radio-container.szww
                %input#szww-radio{:type => "radio", :name => "appname", :checked => "", :value => "szww"}
                %label{:for => "szww-radio"} 深圳世界之窗
              .radio-container.zhosr
                %input#zhosr-radio{:type => "radio", :name => "appname", :value => "zhosr"}
                %label{:for => "zhosr-radio"} 珠海海泉湾
          .columns.medium-6
            %h5 根据您的手机，选择下载
            .row
              .columns.small-6
                %a.ios.store-icon{:href => "https://itunes.apple.com/cn/app/shi-jie-zhi-chuang-ban-lu/id939966230?ls=1&mt=8"}
                %a.android.store-icon{:href => "http://fir.im/szww"}
              .columns.small-6
                %img.qrcode{:src => "#{$base_url}/img/products/szww-qrcode.jpg"}
    .section.scenic-information
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 全景介绍
          %p 全方位了解景区资讯 <br /> 多角度呈现缤纷旅程
    .section.lbs-game
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 神秘任务 <br /> (LBS游戏)
          %p 参与互动线上线下小游戏 <br /> 打开属于你的大礼盒！
    .section.social
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 近场社交
          %p 看看你的身边还有谁 <br /> 约还是不约你做主
    .section.voice-intro
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 智能语音
          %p 全程语音讲解 <br /> 游览从未如此轻松
    .section.sharing
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 魅力分享
          %p 分享游时的点点滴滴 <br /> 秀出你的精彩每一刻
    = Haml::Engine.new(contact_form_template).render
    = Haml::Engine.new(footer_template).render
    %script{:type => "text/javascript", :src => "#{$base_url}/js/products.js"}
