- head_template =  File.read('./_includes/head.html.haml')
- header_template =  File.read('./_includes/header.html.haml')
- footer_template =  File.read('./_includes/footer.html.haml')
- contact_form_template = File.read('./_includes/contact-form.html.haml')

<!DOCTYPE html>
%html
  %head
    = Haml::Engine.new(head_template).render
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{$base_url}/stylesheets/ionicons.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{$base_url}/stylesheets/products.css"}
  %body.app
    = Haml::Engine.new(header_template).render
    .first-view
      %img.banner-image{:src => "#{$base_url}/img/products/app-banner.jpg"}
      .container.row
        .columns.small-6
          .store-container.right
            %a.ios.store-icon{:href => "https://itunes.apple.com/cn/app/ban-lu-gei-ni-yi-ge-wen-nuan/id993592240?l=en&mt=8"}
            %a.android.store-icon{:href => "http://fir.im/banlv"}
        .columns.small-6
          %img.qrcode{:src => "#{$base_url}/img/products/banlv-qrcode.jpg"}
    .section.scenic-information
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 全景介绍
          %p 全方位了解景区资讯 <br /> 多角度呈现缤纷旅程
    .section.lbs-game
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 神秘任务 <br /> (LBS游戏)
          %p 参与互动线上线下小游戏 <br /> 打开属于你的大礼盒！
    .section.social
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 近场社交
          %p 看看你的身边还有谁 <br /> 约还是不约你做主
    .section.voice-intro
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 智能语音
          %p 全程语音讲解 <br /> 游览从未如此轻松
    .section.sharing
      .wrap.row.feature
        .model
        .medium-4.content
          %h2 魅力分享
          %p 分享游时的点点滴滴 <br /> 秀出你的精彩每一刻
    = Haml::Engine.new(contact_form_template).render
    = Haml::Engine.new(footer_template).render
    %script{:type => "text/javascript", :src => "#{$base_url}/js/products.js"}
