- head_template =  File.read('./_includes/head.html.haml')
- header_template =  File.read('./_includes/header.html.haml')
- footer_template =  File.read('./_includes/footer.html.haml')
- contact_form_template = File.read('./_includes/contact-form.html.haml')

<!DOCTYPE html>
%html
  %head
    = Haml::Engine.new(head_template).render
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{$base_url}/stylesheets/products.css"}
  %body.bi
    = Haml::Engine.new(header_template).render
    .section
      .first-view
    .section.online-manage
      .wrap.row.feature
        .medium-4.content
          %h2 实时后台管理
          %p 完善的后台管理系统 <br/> 实时汇总平台信息
        .model.medium-8
    .section.push-notification
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 公告精准推送
          %p 指定区域定点投送公告信息 <br/> 实现精细化管理
    .section.track
      .wrap.row.feature
        .medium-4.content
          %h2 实时轨迹展示
          %p 游客游园轨迹展现，实时 <br/> 掌握人流分布与景区热点
        .model.medium-8
    .section.data-mining
      .wrap.row.feature
        .model.medium-8
        .medium-4.content
          %h2 空间数据挖掘
          %p 深度挖掘平台大数据 <br/> 获取资源数据核心价值
    .section.ugc
      .wrap.row.feature
        .medium-4.content
          %h2 UGC数据监控
          %p 管理用户创建和分享的信息 <br/> 掌控线上生态系统和问题预警
        .model.medium-8
    = Haml::Engine.new(contact_form_template).render
    %script{:type => "text/javascript", :src => "#{$base_url}/js/vendors/jquery.js"}
    = Haml::Engine.new(footer_template).render
    %script{:type => "text/javascript", :src => "#{$base_url}/js/vendors/jquery.easings.min.js"}
    %script{:type => "text/javascript", :src => "#{$base_url}/js/vendors/jquery.slimscroll.min.js"}
    %script{:type => "text/javascript", :src => "#{$base_url}/js/vendors/jquery.fullPage.min.js"}
    %script{:type => "text/javascript", :src => "#{$base_url}/js/products.js"}