#footer
  .row
    .columns.medium-4.small-12.footer-item
      %ul
        %li.left.has-next
          %a{:href => "#{$base_url}/mobile/privacy.html"} 隐私政策
        %li.left
          %a{:href => "#{$base_url}/mobile/terms.html"} 服务条款
    .columns.medium-4.small-12.footer-item
      %p.copyright &copy;2015, 深圳极觅数据技术有限公司
      %p.miitbeian
        %a{:target => "_blank", :href => "http://www.miitbeian.gov.cn/"} 粤ICP备14079293
    .columns.medium-4.small-12.footer-item
      %ul
        .li.right{:class => "right"}
          %a{:href => "http://www.weibo.com/xjimi"}
            %img{:src => "#{$base_url}/img/weibo.png"}
%script{:type => "text/javascript", :src => "#{$base_url}/bower_components/jquery/dist/jquery.min.js"}
%script{:type => "text/javascript", :src => "#{$base_url}/bower_components/foundation/js/foundation.min.js"}
%script{:type => "text/javascript", :src => "#{$base_url}/bower_components/foundation/js/foundation/foundation.topbar.js"}
%script{:type => "text/javascript", :src => "#{$base_url}/js/main.js"}
